# AirBnb NYC

### Introduction

In this lesson, we'll practice our use of SQL and integrating it with streamlit.

### Loading the Data

In [14]:
import pandas as pd
neighborhoods_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/neighborhoods.csv"
hosts_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/hosts.csv"
locations_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/locations.csv"
listings_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/listings.csv"

hosts_df = pd.read_csv(hosts_url)
neighborhoods_df = pd.read_csv(neighborhoods_url)

locations_df = pd.read_csv(locations_url)
listings_df = pd.read_csv(listings_url)

In [15]:
import sqlite3
conn = sqlite3.connect('listings.db')

In [17]:
hosts_df.to_sql('hosts',conn, index = False)
neighborhoods_df.to_sql('neighborhoods',conn, index = False)
locations_df.to_sql('locations',conn, index = False)
listings_df.to_sql('listings', conn, index = False)

## Getting Reacquainted with the Data

In [5]:
cursor = conn.cursor()

In [6]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('hosts',), ('neighborhoods',), ('locations',), ('listings',)]

In [7]:
cursor.execute('PRAGMA table_info(hosts)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'host_name', 'TEXT', 0, None, 0)]

In [8]:
cursor.execute('PRAGMA table_info(neighborhoods)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'neighbourhood_group', 'TEXT', 0, None, 0)]

In [9]:
cursor.execute('PRAGMA table_info(locations)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'longitude', 'REAL', 0, None, 0),
 (2, 'latitude', 'REAL', 0, None, 0),
 (3, 'neighborhood_id', 'INTEGER', 0, None, 0)]

In [10]:
cursor.execute('PRAGMA table_info(listings)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'host_id', 'INTEGER', 0, None, 0),
 (3, 'location_id', 'INTEGER', 0, None, 0),
 (4, 'number_of_reviews', 'INTEGER', 0, None, 0),
 (5, 'occupancy', 'INTEGER', 0, None, 0),
 (6, 'price', 'INTEGER', 0, None, 0),
 (7, 'room_type', 'TEXT', 0, None, 0),
 (8, 'host_listings_count', 'INTEGER', 0, None, 0)]

### Starting up streamlit

Ok, now it's time to begin with our streamlit app.

* Adding text

Start by creating an `app.py` file, and then add the title `Airbnb Explorer` to the top of our dashboard.

### Baseline Widgets

Now let's create some widgets that will allow users to interact with our page.

1. Start by adding two sliders to the page: 
* one slider to eventually select locations below a max price and 
* one slider will select locations above a minimum price.

The two sliders should allow us to slide between the range of 20 and 1000, moving in increments of 25.

> Tip: Feel free to first explore widgets inside of a Jupyter notebook and then move them over to the `app.py` file.  Remember we can press `shift + tab` to see the arguments that a function accepts.  The display of the widget, however, will not work until you move the widget over to the app.py file.

In [6]:
import streamlit as st

In [7]:
st.slider('slider')

0

When done, you should see something like the following on the page.

<img src="updated-sliders.png" width = "30%">

2. Next let's add a multiselect to eventually allow us to filter by neighborhoods.

The multiselect requires a list of options, we can just provide some mock neighborhood options for now and fill it in with real data later.  

> For example, fill the options with the elements of `manhattan` and `brooklyn`.

In [9]:
# st.multiselect()

When done, you should see something like the following.

<img src="./select-neighborhoods.png" width="50%">

3. Finally move all of these wigets over to a sidebar.

<img src="updated-sidebar.png" width="30%">

### Combining SQL

Ok, now let's begin to incorporate the use of data from our database.

1. Populating with real neighborhoods.

In this Jupyter notebook, start by creating a function called find all `all_neighborhoods` that returns a list of all of the neighborhoods.

In [151]:
import pandas as pd
def all_neighborhoods():
#     records = pd.read_sql("ADD SQL CALL HERE", conn).to_dict('records')
    neighborhoods = None # fill in here
    return neighborhoods

In [152]:
neighborhoods = all_neighborhoods()

In [ ]:
neighborhoods[:3]
# ['Allerton', 'Arden Heights', 'Arrochar']

In [21]:
len(neighborhoods)

221

> Once this is working, move the `all_neighborhoods` method over to the `app.py` file.  And then execute it and assign the result to the variable neighborhoods.  Use this to list the neighborhoods in the multiselect.

> To accomplish this, you will likely need to import libraries like `sqlite3`, `pandas`, and form a connection to your `airbnb.db` database.

2. Adding a map

We can add a map to streamlit with the `st.map` function.  To do so, we need a pandas dataframe with a column of longitude and latitude.  We can do so with the `read_sql` function from pandas.  Use the function to select all of the locations, and assign them to the variable `locations_df`.

In [154]:
# Fill in the string with the correct sql call
def find_locations():
    pass
#     return pd.read_sql('', conn)

In [ ]:
locations_df = find_locations()

In [24]:
locations_df[:3]

# 	id	longitude	latitude	neighborhood_id
# 0	0	-73.97237	40.64749	0
# 1	1	-73.98377	40.75362	1
# 2	2	-73.94190	40.80902	2

   id  longitude  latitude  neighborhood_id
0   0  -73.97237  40.64749                0
1   1  -73.98377  40.75362                1
2   2  -73.94190  40.80902                2

Next check that this works by passing our `locations_df` into the st.map function.

In [25]:
st.map(locations_df)
# <streamlit.DeltaGenerator.DeltaGenerator at 0x110cb1610>

Finally, inside of the `app.py` file, let's move the `find_locations` method and provide `st.map` with a dataframe of the locations.

When complete, you should see something like the following:

<img src="./bnb-map.png" width="50%">

### Dynamic SQL Calls

Ok, now the above shows a map of all of the locations in Airbnb. But what we would like is the ability to select just some of them based on our widgets.  

Let's start with our max and min price calls.

Rewrite the `find_locations` function below so that it takes arguments of `min_price` and `max_price`.  Our function should be written so that min price has a default argument of `'0'` and `max_price` has a default argument of `'5000'`.  Then write a sql function that returns those locations with an average listing price between the max_price and min_price (provided by the function).

In [156]:
def find_locations(min_price = '0', max_price = '5000'):
    pass

In [157]:
locations_avg_df = find_locations()

In [159]:
locations_avg_df[:3]

# id	longitude	latitude	neighborhood_id	avg_price
# 0	0	-73.97237	40.64749	0	149.0
# 1	1	-73.98377	40.75362	1	225.0
# 2	2	-73.94190	40.80902	2	150.0

In [160]:
locations_avg_df.shape
# (48834, 5)

Now let's make sure that this also works with when we provide different values to our function.

In [40]:
locations_range_df = find_locations(300, 500)

In [42]:
locations_range_df[:3]

# 	id	longitude	latitude	neighborhood_id	avg_price
# 0	61	-73.99530	40.74623	17	375.0
# 1	114	-73.98157	40.72540	29	350.0
# 2	116	-73.95748	40.71942	15	325.0

    id  longitude  latitude  neighborhood_id  avg_price
0   61  -73.99530  40.74623               17      375.0
1  114  -73.98157  40.72540               29      350.0
2  116  -73.95748  40.71942               15      325.0

Now that this is working let's incoroporate this into our app.  We can assign the values from the respective sliders as `max_price` and `min_price`.  And we can then execute our function `find_locations` function providing these values.

If this is working, the map will load up showing no listings as there are no listings between a min price of 20 and a max price of 20.

<img src="./updated-blank.png" width="50%">

As you move the sliders, you should see more available listings.

### Selecting Categories

Ok, now let's link up our select neighborhoods multiselect to our map.

To do this, we'll need to update our `find_locations` function so that it also takes an argument of a list of `neighborhoods`.  Then when different neighborhoods are passed to the function, we should only select locations in those neighborhoods.

The easiest way to accomplish this is to use a HAVING IN clause.  The IN clause takes a tuple.  And we can interpolate a tuple, incorporating it into our string.

In [48]:
neighborhoods_tuple = ('Manhattan', 'Brooklyn')
f'HAVING something IN {neighborhoods_tuple}'

"HAVING something IN ('Manhattan', 'Brooklyn')"

Not bad.

Now we might like to move this directly into our SQL query.  But one issue is that if we just have one element, the tuple has a comma at the end, which will cause issues for sql.

In [49]:
neighborhoods_tuple = ('Manhattan',)
f'HAVING something IN {neighborhoods_tuple}'

"HAVING something IN ('Manhattan',)"

> That will break.

So write a function called format tuple, that returns the correct string if only one element is in the tuple.

In [60]:
def format_neighborhoods(neighborhoods):
    if len(neighborhoods) > 1:
        return f'{tuple(neighborhoods)}'
    else:
        first_neighborhood = neighborhoods[0]
        return f"('{first_neighborhood}')"

In [65]:
neighborhoods = ['Manhattan', 'Brooklyn']
format_neighborhoods(neighborhoods)

# "('Manhattan', 'Brooklyn')"

"('Manhattan', 'Brooklyn')"

In [68]:
neighborhoods = ['Manhattan']
format_neighborhoods(neighborhoods)
# "('Manhattan')"

"('Manhattan')"

> Make sure there are quotation marks surrounding `'Manhattan'`.

Now use this method in the `find_locations` method.

In [161]:
def find_locations(neighborhoods, min_price = 0, max_price = 5000):
    pass
#     return pd.read_sql(query, conn)

In [162]:
selected_neighborhoods = all_neighborhoods()

In [163]:
selected_neighborhoods_df = find_locations(selected_neighborhoods, min_price = 300, max_price = 400)

In [165]:
# selected_neighborhoods_df[:2]
# 
# id	longitude	latitude	neighborhood_id	avg_price
# 0	61	-73.99530	40.74623	17	375.0
# 1	114	-73.98157	40.72540	29	350.0

In [91]:
selected_neighborhoods_df = find_locations(['Battery Park City', 'Chelsea'], 300, 310)

In [93]:
selected_neighborhoods_df


# id	longitude	latitude	neighborhood_id	avg_price
# 0	38629	-73.99604	40.73878	17	303.0
# 1	38692	-73.99616	40.73918	17	303.0
# 2	38750	-73.99955	40.74148	17	303.0
# 3	39898	-73.99488	40.74228	17	306.0
# 4	46563	-74.00000	40.74625	17	305.0

      id  longitude  latitude  neighborhood_id  avg_price
0  38629  -73.99604  40.73878               17      303.0
1  38692  -73.99616  40.73918               17      303.0
2  38750  -73.99955  40.74148               17      303.0
3  39898  -73.99488  40.74228               17      306.0
4  46563  -74.00000  40.74625               17      305.0

Ok, now let's update the find_locations function in our `app.py` file so that it selects the listings provided by our multiselect.

<img src="./listings-chelsea.png" width="50%">

### Adding Plotly

Now let's add a chart displaying the types of rooms that are selected.

First, add in `listings.room_type` to the SELECT statement in our `find_locations` function so that our SQL query also returns the room type.

In [167]:
def find_locations(neighborhoods, min_price = 0, max_price = 5000):
    pass

In [106]:
locations_df = find_locations(selected_neighborhoods)

In [108]:
locations_df[:2]

# 	id	longitude	latitude	neighborhood_id	avg_price	room_type
# 0	0	-73.97237	40.64749	0	149.0	Private room
# 1	1	-73.98377	40.75362	1	225.0	Entire home/apt

   id  longitude  latitude  neighborhood_id  avg_price        room_type
0   0  -73.97237  40.64749                0      149.0     Private room
1   1  -73.98377  40.75362                1      225.0  Entire home/apt

From here we can use this data to provide a histogram of the types of rooms returned by the `find_locations` function.

1. First let's convert the values returned from the dataframe to a dictionary.

In [115]:
locations_df = find_locations(selected_neighborhoods, 250, 275)
locations = locations_df.to_dict('records')

In [116]:
locations[:2]

[{'id': 201,
  'longitude': -73.87854,
  'latitude': 40.71546,
  'neighborhood_id': 199,
  'avg_price': 265.0,
  'room_type': 'Entire home/apt'},
 {'id': 400,
  'longitude': -73.9926,
  'latitude': 40.66862,
  'neighborhood_id': 109,
  'avg_price': 260.0,
  'room_type': 'Entire home/apt'}]

In [117]:
len(locations)
# 400

400

2. Next let's turn this list of dictionaries into a `room_type` for each listing.

In [168]:
room_types = None

In [120]:
room_types[:2]
# ['Entire home/apt', 'Entire home/apt']

['Entire home/apt', 'Entire home/apt']

Let's take a look at the available options, find a unique collection of the room types.

In [169]:
all_room_types = None
all_room_types
# {'Entire home/apt', 'Private room', 'Shared room'}

Ok, now let's create a dictionary where each key represents a different room type and the value indicates the number of rooms of that type.

> You can use the `collections.Counter` function in Python to accomplish this.

In [170]:
import collections

room_hist = None

room_hist
# {'Entire home/apt': 376, 'Private room': 23, 'Shared room': 1}

> Make sure the return value is a dictionary.

Next, let's turn this into a plot.  We'll do this for you.

In [132]:
import plotly.graph_objects as go

In [138]:
scatter = go.Bar(x = list(room_hist.keys()), y = list(room_hist.values()))

In [140]:
fig = go.Figure(scatter)

Finally, any plotly figure, we can display in streamlit with the `st.plotly_chart` function.

In [141]:
st.plotly_chart(fig)

####  Move into our app.py file.

Ok, now that this seems to be working, let's refactor this into functions.

1. `room_type_hist`

First me want a `room_type_hist` function that takes as an input the returned dataframe from `find_locations` and returns the dictionary of room type amounts

In [ ]:
locations_df = find_locations(selected_neighborhoods, 250, 275)

In [171]:
import collections

def room_hist(locations_df):
    pass
# {'Entire home/apt': 376, 'Private room': 23, 'Shared room': 1}

In [172]:
locations_df = find_locations(selected_neighborhoods, 250, 275)
room_hist(locations_df)
# {'Entire home/apt': 376, 'Private room': 23, 'Shared room': 1}

2. `plot_bar_chart`

This one we'll do for you.  It takes our dictionary returned from `room_hist`, and then from there it returns a `bar_chart` figure.

In [145]:
import plotly.graph_objects as go
def bar_chart(histogram):
    x_vals = list(histogram.keys())
    y_vals = list(histogram.values())
    bar = go.Bar(x = x_vals, y = y_vals)
    return go.Figure(bar)

In [147]:
hist = room_hist(locations_df)
# bar_chart(hist)

Finally we can move these function calls into streamlit and call the `st.plotly_chart` function.

When we're done, we should see something like the following:

<img src="./bnb-explorer-complete.png" width="50%">

### Summary

Nice job.  Now smile, and take a break.