# Belongs to Airbnb Lab

### Introduction
In this lab we will continue to explore the relationships between data in different tables of a database. The Airbnb database for this lab contains four tables, `hosts`, `listings`, `locations`, and `neighborhoods`. In order to understand and analyze the data, we need to first understand the relationships between the tables. Relationships include "Has One" and "Has Many". For example, the `listings` table has a column "host_id" which HAS ONE record in hosts table that it corresponds to (a listing will only have one host). The `locations` table has an id column which HAS MANY corresponding records in the `listings` table (a location will have more than one listing).

Let's begin by connecting to the database and reviewing the schema of the tables.

### Loading Data

In [1]:
import pandas as pd
neighborhoods_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/neighborhoods.csv"
hosts_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/hosts.csv"
locations_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/locations.csv"
listings_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/3-belongs-to-bnb/listings.csv"

hosts_df = pd.read_csv(hosts_url)
neighborhoods_df = pd.read_csv(neighborhoods_url)

locations_df = pd.read_csv(locations_url)
listings_df = pd.read_csv(listings_url)

In [2]:
import sqlite3
conn = sqlite3.connect('listings.db')

In [3]:
hosts_df.to_sql('hosts',conn, index = False)
neighborhoods_df.to_sql('neighborhoods',conn, index = False)
locations_df.to_sql('locations',conn, index = False)
listings_df.to_sql('listings', conn, index = False)

### Exploring Data

In [5]:
cursor = conn.cursor()

In [6]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('hosts',), ('neighborhoods',), ('locations',), ('listings',)]

In [7]:
cursor.execute('PRAGMA table_info(hosts)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'host_name', 'TEXT', 0, None, 0)]

In [8]:
cursor.execute('PRAGMA table_info(neighborhoods)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'neighbourhood_group', 'TEXT', 0, None, 0)]

In [9]:
cursor.execute('PRAGMA table_info(locations)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'longitude', 'REAL', 0, None, 0),
 (2, 'latitude', 'REAL', 0, None, 0),
 (3, 'neighborhood_id', 'INTEGER', 0, None, 0)]

In [10]:
cursor.execute('PRAGMA table_info(listings)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'host_id', 'INTEGER', 0, None, 0),
 (3, 'location_id', 'INTEGER', 0, None, 0),
 (4, 'number_of_reviews', 'INTEGER', 0, None, 0),
 (5, 'occupancy', 'INTEGER', 0, None, 0),
 (6, 'price', 'INTEGER', 0, None, 0),
 (7, 'room_type', 'TEXT', 0, None, 0),
 (8, 'host_listings_count', 'INTEGER', 0, None, 0)]

### Incorporating Streamlit

In [11]:
import streamlit as st

In [ ]:
st.slider()

In [16]:
records = pd.read_sql("SELECT name FROM neighborhoods", conn).to_dict('records')
neighborhoods = [record['name'] for record in records]

We'll start off with some basic one table queries:

In [17]:
records = pd.read_sql("SELECT name FROM neighborhoods ORDER BY name", conn).to_dict('records')
neighborhoods = [record['name'] for record in records]

('Allerton',
 'Arden Heights',
 'Arrochar',
 'Arverne',
 'Astoria',
 'Bath Beach',
 'Battery Park City',
 'Bay Ridge',
 'Bay Terrace',
 'Bay Terrace, Staten Island',
 'Baychester',
 'Bayside',
 'Bayswater',
 'Bedford-Stuyvesant',
 'Belle Harbor',
 'Bellerose',
 'Belmont',
 'Bensonhurst',
 'Bergen Beach',
 'Boerum Hill',
 'Borough Park',
 'Breezy Point',
 'Briarwood',
 'Brighton Beach',
 'Bronxdale',
 'Brooklyn Heights',
 'Brownsville',
 "Bull's Head",
 'Bushwick',
 'Cambria Heights',
 'Canarsie',
 'Carroll Gardens',
 'Castle Hill',
 'Castleton Corners',
 'Chelsea',
 'Chinatown',
 'City Island',
 'Civic Center',
 'Claremont Village',
 'Clason Point',
 'Clifton',
 'Clinton Hill',
 'Co-op City',
 'Cobble Hill',
 'College Point',
 'Columbia St',
 'Concord',
 'Concourse',
 'Concourse Village',
 'Coney Island',
 'Corona',
 'Crown Heights',
 'Cypress Hills',
 'DUMBO',
 'Ditmars Steinway',
 'Dongan Hills',
 'Douglaston',
 'Downtown Brooklyn',
 'Dyker Heights',
 'East Elmhurst',
 'East Flatbush',
 'East Harlem',
 'East Morrisania',
 'East New York',
 'East Village',
 'Eastchester',
 'Edenwald',
 'Edgemere',
 'Elmhurst',
 'Eltingville',
 'Emerson Hill',
 'Far Rockaway',
 'Fieldston',
 'Financial District',
 'Flatbush',
 'Flatiron District',
 'Flatlands',
 'Flushing',
 'Fordham',
 'Forest Hills',
 'Fort Greene',
 'Fort Hamilton',
 'Fort Wadsworth',
 'Fresh Meadows',
 'Glendale',
 'Gowanus',
 'Gramercy',
 'Graniteville',
 'Grant City',
 'Gravesend',
 'Great Kills',
 'Greenpoint',
 'Greenwich Village',
 'Grymes Hill',
 'Harlem',
 "Hell's Kitchen",
 'Highbridge',
 'Hollis',
 'Holliswood',
 'Howard Beach',
 'Howland Hook',
 'Huguenot',
 'Hunts Point',
 'Inwood',
 'Jackson Heights',
 'Jamaica',
 'Jamaica Estates',
 'Jamaica Hills',
 'Kensington',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge',
 'Kips Bay',
 'Laurelton',
 'Lighthouse Hill',
 'Little Italy',
 'Little Neck',
 'Long Island City',
 'Longwood',
 'Lower East Side',
 'Manhattan Beach',
 'Marble Hill',
 'Mariners Harbor',
 'Maspeth',
 'Melrose',
 'Middle Village',
 'Midland Beach',
 'Midtown',
 'Midwood',
 'Mill Basin',
 'Morningside Heights',
 'Morris Heights',
 'Morris Park',
 'Morrisania',
 'Mott Haven',
 'Mount Eden',
 'Mount Hope',
 'Murray Hill',
 'Navy Yard',
 'Neponsit',
 'New Brighton',
 'New Dorp',
 'New Dorp Beach',
 'New Springville',
 'NoHo',
 'Nolita',
 'North Riverdale',
 'Norwood',
 'Oakwood',
 'Olinville',
 'Ozone Park',
 'Park Slope',
 'Parkchester',
 'Pelham Bay',
 'Pelham Gardens',
 'Port Morris',
 'Port Richmond',
 "Prince's Bay",
 'Prospect Heights',
 'Prospect-Lefferts Gardens',
 'Queens Village',
 'Randall Manor',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Richmondtown',
 'Ridgewood',
 'Riverdale',
 'Rockaway Beach',
 'Roosevelt Island',
 'Rosebank',
 'Rosedale',
 'Rossville',
 'Schuylerville',
 'Sea Gate',
 'Sheepshead Bay',
 'Shore Acres',
 'Silver Lake',
 'SoHo',
 'Soundview',
 'South Beach',
 'South Ozone Park',
 'South Slope',
 'Springfield Gardens',
 'Spuyten Duyvil',
 'St. Albans',
 'St. George',
 'Stapleton',
 'Stuyvesant Town',
 'Sunnyside',
 'Sunset Park',
 'Theater District',
 'Throgs Neck',
 'Todt Hill',
 'Tompkinsville',
 'Tottenville',
 'Tremont',
 'Tribeca',
 'Two Bridges',
 'Unionport',
 'University Heights',
 'Upper East Side',
 'Upper West Side',
 'Van Nest',
 'Vinegar Hill',
 'Wakefield',
 'Washington Heights',
 'West Brighton',
 'West Farms',
 'West Village',
 'Westchester Square',
 'Westerleigh',
 'Whitestone',
 'Williamsbridge',
 'Williamsburg',
 'Willowbrook',
 'Windsor Terrace',
 'Woodhaven',
 'Woodlawn',
 'Woodrow',
 'Woodside')

* Which listing name has the highest price?

* What is the id of the location with the lowest longitude?

* What is the greatest occupancy of a listing?

* What is the average price of a listing?

* What is the count of number of hosts?

### Relationships
To help us better understand the relationships, create queries below that JOIN the tables.

Have them map out the relationships

*  host
    * include the host name, and host id
    
* A location belongs to a neighborhoods 
    * neighborhood_id, latitude, longitude
* A neighborhood belongs to a neighborhood group

* listing 
    * name, host_id, location_id, room_type, price, occupancy

### JOINs

For the following queries, use the relationships between the tables to find the solutions

* What is the longitude and latitude of the listing of the highest price?

* What is the neighborhood id of the listing with the lowest price?

* What is the longitude and latitude of the listing of the lowest price?

### Relations and GROUP BY

* What is the name of the host has the most number of reviews?

* What is the name of the host with the highest average listing price?

* What is the name of the host with the lowest average listing price?

* What is the name of the neighborhood with the most number of locations

* What are the names of the neighborhoods with 10 locations?

The following questions will require joins of three tables

* What is the average occupancy of each neighborhood?

* What is the total number of reviews for each neighborhood?

* Write a query that returns the name and average listing price of each neighborhood

### Conclusion
In this lab we worked on the "Has One" and "Has Many" relations in SQL. We began by mapping out the relations between the tables, which gave us a better idea of how we could then join them in our queries. We finished the lab by creating queries using JOIN clauses that connect the tables using these relationships.