In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./imdb_movies.csv')

In [3]:
df[:2]

,title,genre,budget,runtime,year,month,revenue
0,Avatar,Action,237000000,162.0,2009,12,2787965087
1,Pirates of the Caribbean: At World's End,Adventure,300000000,169.0,2007,5,961000000

In [5]:
import sqlite3
conn = sqlite3.connect('imdb.db')

In [6]:
df.to_sql('movies', conn, index_label = 'id')

In [8]:
pd.read_sql('select * from movies', conn)

,id,title,genre,budget,runtime,year,month,revenue
0,0,Avatar,Action,237000000,162.0,2009,12,2787965087
1,1,Pirates of the Caribbean: At World's End,Adventure,300000000,169.0,2007,5,961000000
2,2,Spectre,Action,245000000,148.0,2015,10,880674609
3,3,The Dark Knight Rises,Action,250000000,165.0,2012,7,1084939099
4,4,John Carter,Action,260000000,132.0,2012,3,284139100
5,5,Spider-Man 3,Fantasy,258000000,139.0,2007,5,890871626
6,6,Tangled,Animation,260000000,100.0,2010,11,591794936
7,7,Avengers: Age of Ultron,Action,280000000,141.0,2015,4,1405403694
8,8,Harry Potter and the Half-Blood Prince,Adventure,250000000,153.0,2009,7,933959197
9,9,Batman v Superman: Dawn of Justice,Action,250000000,151.0,2016,3,873260194
10,10,Superman Returns,Adventure,270000000,154.0,2006,6,391081192
11,11,Quantum of Solace,Adventure,200000000,106.0,2008,10,586090727
12,12,Pirates of the Caribbean: Dead Man's Chest,Adventure,200000000,151.0,2006,6,1065659812
13,13,The Lone Ranger,Action,255000000,149.0,2013,7,89289910
14,14,Man of Steel,Action,225000000,143.0,2013,6,662845518
15,15,The Chronicles of Narnia: Prince Caspian,Adventure,225000000,150.0,2008,5,419651413
16,16,The Avengers,Science Fiction,220000000,143.0,2012,4,1519557910
17,17,Pirates of the Caribbean: On Stranger Tides,Adventure,380000000,136.0,2011,5,1045713802
18,18,Men in Black 3,Action,225000000,106.0,2012,5,624026776
19,19,The Hobbit: The Battle of the Five Armies,Action,250000000,144.0,2014,12,956019788
20,20,The Amazing Spider-Man,Action,215000000,136.0,2012,6,752215857
21,21,Robin Hood,Action,200000000,140.0,2010,5,310669540
22,22,The Hobbit: The Desolation of Smaug,Adventure,250000000,161.0,2013,12,958400000
23,23,The Golden Compass,Adventure,180000000,113.0,2007,12,372234864
24,24,King Kong,Adventure,207000000,187.0,2005,12,550000000
25,25,Titanic,Drama,200000000,194.0,1997,11,1845034188
26,26,Captain America: Civil War,Adventure,250000000,147.0,2016,4,1153304495
27,27,Battleship,Thriller,209000000,131.0,2012,4,303025485
28,28,Jurassic World,Action,150000000,124.0,2015,6,1513528810
29,29,Skyfall,Action,200000000,143.0,2012,10,1108561013
...,...,...,...,...,...,...,...,...
1970,1970,Zack and Miri Make a Porno,Comedy,24000000,102.0,2008,9,42105111
1971,1971,Nurse Betty,Comedy,24000000,108.0,2000,9,0
1972,1972,The Men Who Stare at Goats,Comedy,24000000,93.0,2009,10,68729358
1973,1973,Double Take,Adventure,0,88.0,2001,1,0
1974,1974,"Girl, Interrupted",Drama,40000000,127.0,1999,12,0
1975,1975,Win a Date with Tad Hamilton!,Comedy,17000000,95.0,2004,1,16980098
1976,1976,Muppets from Space,Fantasy,24000000,87.0,1999,7,16290976
1977,1977,The Wiz,Adventure,24000000,134.0,1978,10,21049053
1978,1978,Ready to Rumble,Action,24000000,107.0,2000,4,12372410
1979,1979,Play It to the Bone,Comedy,24000000,124.0,1999,12,8434146
1980,1980,I Don't Know How She Does It,Romance,24000000,89.0,2011,9,30551495
1981,1981,Piranha 3D,Comedy,24000000,88.0,2010,8,83188165
1982,1982,Beyond the Sea,Drama,23000000,118.0,2004,12,0
1983,1983,Meet the Deedles,Animation,24000000,93.0,1998,3,4562146
1984,1984,The Thief and the Cobbler,Adventure,28000000,72.0,1993,9,669276
1985,1985,The Bridge of San Luis Rey,Romance,0,120.0,2004,1,0
1986,1986,Faster,Crime,24000000,98.0,2010,11,23081726
1987,1987,Howl's Moving Castle,Fantasy,24000000,119.0,2004,11,234710455
1988,1988,Zombieland,Comedy,23600000,88.0,2009,10,102391382
1989,1989,The Waterboy,Comedy,23000000,90.0,1998,11,185991646
1990,1990,The Empire Strikes Back,Adventure,18000000,124.0,1980,5,538400000
1991,1991,Bad Boys,Action,19000000,118.0,1995,4,141407024
1992,1992,The Naked Gun 2½: The Smell of Fear,Comedy,23000000,85.0,1991,6,86930411
1993,1993,Final Destination,Horror,23000000,98.0,2000,3,53302314
1994,1994,The Ides of March,Drama,12500000,101.0,2011,9,75993061
1995,1995,Pitch Black,Thriller,23000000,108.0,2000,2,53187659
1996,1996,Someone Like You...,Comedy,23000000,97.0,2001,3,0
1997,1997,Her,Romance,23000000,126.0,2013,12,47351251
1998,1998,Joy Ride,None,23000000,97.0,2001,10,36642838
1999,1999,The Adventurer: The Curse of the Midas Box,Fantasy,25000000,99.0,2013,12,6399